body
{
	font-family: Verdana, sans-serif;
}

#expression
{
	border-width:0px;
	color:#999;
	font-size:15px;
	font-family:"Lucida Console", Monaco, monospace;
	-webkit-appearance:none;
}

.row
{
	margin:5px;
	padding:5px;
	padding-bottom:10px;
	background-color:#eee;
	border:1px solid #eee;
}

.row:hover
{
	border:1px solid #ccc;
}


.question_selection 
{
	width:100%;
}

input[type=text] { width:100%; }

label { display:block; }
